.skilldata{
    padding: 1.7rem;
    /* background-color: #fff; */
    /* height: 612px; */
    /* background-color: #005EB8; */
}

.skilldata>h2{
    color: #222;
    font-size: 650;
    font-weight: 700;
        font-family: Open Sans,sans-serif;
        line-height: normal !important;
}
/* .skilldata>span{
margin-top: 2rem !important;
} */
.skilldata>p{
margin-top: 2.3rem !important;
color: #58595A !important;
padding-right: 7rem;
line-height: 1.9rem;
font-size: large;
flex-flow: row-reverse;

}
.main{
    /* color:#58595A; */
    background-color: #fff !important;
}

 .before::before{
    content: "";
    display: inline-block;
    margin-right: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color:#005EB8!important;
}



a:link {
/* color: #222 !important; */


  cursor: pointer;
}
a>p:hover{
    color: #005EB8;

}
a>p{
    color: #3B3C3D;
    
    font-size: 18px;
    font-weight:600;
    /* max-width: calc(50% - 38px); */
    /* line-height: 1.78; */
}
a{
    text-decoration: none !important;
    list-style: none !important;

    font-size: medium;
    font-weight: 570;
}